Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
5+3*2

11

In [7]:
(5+3)*2

16

In [8]:
type(4/2)

float

In [9]:
type(2)

int

In [10]:
type(2.5)

float

In [11]:
type('k')

str

In [12]:
type("pinal")

str

In [13]:
a=10

In [14]:
b=20

In [15]:
a+b

30

In [16]:
c=a+b

In [17]:
c

30

In [18]:
type(c)

int

In [19]:
True

True

In [20]:
False

False

In [22]:
#Boolean Operation( OR/AND)
True or False
type(True or True)

bool

In [23]:
#BItwise/ LOgical OPerator
True | False

True

In [35]:
a=10
b=20
#a+b>30 | b-a<10 # true or false always be True
a+b>30 or a-b<10 # true or false always be True

True

# Strings
#Never used reserved Keywords like Str( to solve this we have to restart the kernal)

In [38]:
type("Pinal")

str

In [39]:

str1="Pinal is a Good Girl"

In [42]:
str(1)

'1'

In [ ]:
str(1)

In [43]:
str

str

In [44]:
c

In [45]:
str(1)# have to restart the kernal as we have used the reserved keyword STR to define the variable

TypeError: 'str' object is not callable

In [2]:
str1="Pinal is a Good Girl"

In [3]:
print(str1)

Pinal is a Good Girl

In [4]:
a=20
a

20

In [5]:
print(a)

20

In [6]:
str1="A Good Girl"
str2="A Bad Girl"

In [7]:
print(str1)
print(str2)

A Good Girl
A Bad Girl

In [8]:
str1+str2

'A Good GirlA Bad Girl'

In [9]:
name=input("enter your name?")
print(name)

enter your name?Pinal
Pinal

In [12]:
#Adding values using input, input takes values as string, so we have to typecast
a=input("Enter no 1")
b=input("Enter no 2")
c=a+b
print("The output is",c)

Enter no 111
Enter no 222
The output is 1122

In [16]:
a=float(input("Enter no 1  "))
b=float(input("Enter no 2  "))
c=a+b
print("The output is",c)

Enter no 1  11
Enter no 2  22
The output is 33.0

In [20]:
### String Formatting
f_name=input("what is your first name??  ")
L_name=input("what is your Last name??  ")
# place holder {} and also use .format
print("My first name is {} and last name is {}" .format(f_name, L_name))
#Using variable name to avoid the problem of misplacing the values
print("My first name is {fname} and last name is {lname}" .format(fname=f_name, lname=L_name))

what is your first name??  PInal
what is your Last name??  Jaiswal
My first name is PInal and last name is Jaiswal
My first name is PInal and last name is Jaiswal

# Variable Dyanmic Typing

In [21]:
a=10
type(a)

int

In [22]:
b=10.11
type(b)

float

In [23]:
a="pinal"
type(a)

str

In [24]:
##Strong Typing - should have same data type for contactenation 
"Pinal" + 1 # This will give an error

TypeError: can only concatenate str (not "int") to str

In [25]:
"Pinal" + str(1)

'Pinal1'

In [27]:
1 + "Pinal" # cant concatenate int to str
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
1 + int(2)

3

In [37]:
### COnditional Statement
## if and elif
a=int(input("enter the no1 "))
b=int(input("enter the no2 "))
c=a-b
print("The output is",c)
if c<0:
    print("The Number is Negative")
elif c>40:
    print("The Difference is Huge")
else:
    print("The Number is Positive")

enter the no1 70
enter the no2 20
The output is 50
The Difference is Huge

#Data Structures
1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [38]:
#List
lst=[1,2,3, "Pinal", "Jaiswal"]
lst

[1, 2, 3, 'Pinal', 'Jaiswal']

In [39]:
#retrieving data - Indexing
lst[3]

'Pinal'

In [40]:
type(lst[3])

str

In [41]:
type(lst)

list

In [42]:
#Typecast
list((1,2,3, "Pinal", "Jaiswal"))

[1, 2, 3, 'Pinal', 'Jaiswal']

In [43]:
#Adding values in List using append function
# All the function Ref: https://docs.python.org/3/tutorial/datastructures.html
lst.append("Alpa")

In [44]:
lst

[1, 2, 3, 'Pinal', 'Jaiswal', 'Alpa']

In [45]:
lst[2]="data science"

In [46]:
lst

[1, 2, 'data science', 'Pinal', 'Jaiswal', 'Alpa']

In [47]:
print(lst[2])

data science

In [48]:
lst.append("Pinal")

In [49]:
lst
#List counts the values
lst.count("Pinal")

2

In [50]:
lst.count(3)

0

In [57]:
#Indexing
str1="pinal"
str1[3]
#String is immutable( means cannot change the charaters or items inside that) and it can completely replaced
#str1[3]='e'
str1="Jaiswal"
str1

'Jaiswal'

In [14]:

lst=[1,3,4,6,7,8,9,2,3,4,5]

In [12]:
%%time
#find the sum of odd and even number in the list

sume=0
sumo=0
for i in lst:
    if (i%2==0):
        sume=sume+i
    else:
        sumo=sumo+i
        
print("The sum of even number is {} and The sum of odd number is {}" .format(sume,sumo))

The sum of even number is 24 and The sum of odd number is 28
Wall time: 0 ns

In [28]:
#BREAK
# for else block-----(else is not avialbe in other programming language, also else will be complusory executed in this for loop)
lst=[1,3,4,6,7,8,2,3,4,5]
sum1=0
for i in lst:
    if i==9:
        break
    sum1=sum1+i
else:
    print("there is no 9")
    
print("the sum of numbers before 9 is", sum1)

there is no 9
the sum of numbers before 9 is 43

In [37]:
#find the sum of even  or odd num. if the even sum is greater than 20 break or odd sum is greater than 20 implement 
#  the break condition

lst=[1,2,3,4,5,6,7]
sume=0
sumo=0
for i in lst:
    if (i%2==0):
        sume=sume+i
        if sume>20:
                break
    else:
        sumo=sumo+i
        if sumo>20:
                break
else:         
    print("The sum of even number is {} and The sum of odd number is {}" .format(sume,sumo))

The sum of even number is 12 and The sum of odd number is 16

In [1]:
## While Loop
# SUm of n Element(1 to 10 )

n=10
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
    
print("The sum of Naturnal number till 10 is",sum1)

The sum of Naturnal number till 10 is 55

In [2]:
## While Loop
# SUm of odd even number (1 to 10 )

n=10
i=1   
sume=0
sumo=0
while i<=n:
    if (i%2==0):
        sume=sume+i
        i=i+1
    else:
        sumo=sumo+i
        i=i+1
        
print("The sum of even number is {} and The sum of odd number is {}" .format(sume,sumo))

The sum of even number is 30 and The sum of odd number is 25

In [2]:
#Range Function
range(6)

range(0, 6)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(4,50,2))

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [14]:
#sum of odd even numbers

list(range(2,100,2))

2450

In [15]:
sum(range(1,100,2))

2500

In [19]:
list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [18]:
sum(range(0,100,2))

2450

In [20]:
range(100,0,-2)

range(100, 0, -2)

In [21]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [26]:
for val in "String":
    if val=="i":
        continue #will skip the ieration which means it will not print "i" 
        #break
    print(val)
    
print("the ENd")

S
t
r
n
g
the ENd

In [27]:
#String
s="Hello World!"

In [28]:
s[0]

'H'

In [32]:
#string is immutabe which means char can't be replaced --> the entire string can be replaced
s[0]='P'

TypeError: 'str' object does not support item assignment

In [33]:
s="Pinal"

In [34]:
s

'Pinal'

In [35]:
#Indexing in string
s[:]

'Pinal'

In [36]:
s[1:3]

'in'

In [37]:
s[0:3]

'Pin'

In [38]:
s[1:]

'inal'

In [39]:
s[2:]

'nal'

In [42]:
s[-1] #last char

'l'

In [43]:
s[:-1]#skip last char

'Pina'

In [47]:
s[::]# will give entire string

'Pinal'

In [46]:
s[::-1]#inverse the char

'laniP'

In [49]:
s[::-2]# will skip 2 char

'lnP'

In [51]:
s.upper()

'PINAL'

In [52]:
s.lower()

'pinal'

In [55]:
s.split(sep="n")

['Pi', 'al']

In [58]:
s.count('i')

1

In [59]:
s.find("P")

0

In [60]:
s.istitle()

True

In [63]:
s.center(11,'!')

'!!!Pinal!!!'

In [64]:
'Pinal\t Jaiswal'.expandtabs()

'Pinal    Jaiswal'

In [66]:
s.isalpha()

True

In [67]:
s.isspace()

False

In [68]:
s

'Pinal'

In [69]:
s.islower()

False

In [70]:
s.istitle()

True

In [71]:
s.isalnum()

True

In [72]:
s.isupper()

False

In [73]:
s.endswith("l")

True

In [74]:
s.split('n')

['Pi', 'al']

In [75]:
s.partition("n")

('Pi', 'n', 'al')