Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
5+3*2

11

In [7]:
(5+3)*2

16

In [8]:
type(4/2)

float

In [9]:
type(2)

int

In [10]:
type(2.5)

float

In [11]:
type('k')

str

In [12]:
type("pinal")

str

In [13]:
a=10

In [14]:
b=20

In [15]:
a+b

30

In [16]:
c=a+b

In [17]:
c

30

In [18]:
type(c)

int

In [19]:
True

True

In [20]:
False

False

In [22]:
#Boolean Operation( OR/AND)
True or False
type(True or True)

bool

In [23]:
#BItwise/ LOgical OPerator
True | False

True

In [35]:
a=10
b=20
#a+b>30 | b-a<10 # true or false always be True
a+b>30 or a-b<10 # true or false always be True

True

# Strings
#Never used reserved Keywords like Str( to solve this we have to restart the kernal)

In [38]:
type("Pinal")

str

In [39]:

str1="Pinal is a Good Girl"

In [42]:
str(1)

'1'

In [ ]:
str(1)

In [43]:
str

str

In [44]:
c

In [45]:
str(1)# have to restart the kernal as we have used the reserved keyword STR to define the variable

TypeError: 'str' object is not callable

In [2]:
str1="Pinal is a Good Girl"

In [3]:
print(str1)

Pinal is a Good Girl

In [4]:
a=20
a

20

In [5]:
print(a)

20

In [6]:
str1="A Good Girl"
str2="A Bad Girl"

In [7]:
print(str1)
print(str2)

A Good Girl
A Bad Girl

In [8]:
str1+str2

'A Good GirlA Bad Girl'

In [9]:
name=input("enter your name?")
print(name)

enter your name?Pinal
Pinal

In [12]:
#Adding values using input, input takes values as string, so we have to typecast
a=input("Enter no 1")
b=input("Enter no 2")
c=a+b
print("The output is",c)

Enter no 111
Enter no 222
The output is 1122

In [16]:
a=float(input("Enter no 1  "))
b=float(input("Enter no 2  "))
c=a+b
print("The output is",c)

Enter no 1  11
Enter no 2  22
The output is 33.0

In [20]:
### String Formatting
f_name=input("what is your first name??  ")
L_name=input("what is your Last name??  ")
# place holder {} and also use .format
print("My first name is {} and last name is {}" .format(f_name, L_name))
#Using variable name to avoid the problem of misplacing the values
print("My first name is {fname} and last name is {lname}" .format(fname=f_name, lname=L_name))

what is your first name??  PInal
what is your Last name??  Jaiswal
My first name is PInal and last name is Jaiswal
My first name is PInal and last name is Jaiswal

# Variable Dyanmic Typing

In [21]:
a=10
type(a)

int

In [22]:
b=10.11
type(b)

float

In [23]:
a="pinal"
type(a)

str

In [24]:
##Strong Typing - should have same data type for contactenation 
"Pinal" + 1 # This will give an error

TypeError: can only concatenate str (not "int") to str

In [25]:
"Pinal" + str(1)

'Pinal1'

In [27]:
1 + "Pinal" # cant concatenate int to str
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
1 + int(2)

3

In [37]:
### COnditional Statement
## if and elif
a=int(input("enter the no1 "))
b=int(input("enter the no2 "))
c=a-b
print("The output is",c)
if c<0:
    print("The Number is Negative")
elif c>40:
    print("The Difference is Huge")
else:
    print("The Number is Positive")

enter the no1 70
enter the no2 20
The output is 50
The Difference is Huge

#Data Structures
1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [38]:
#List
lst=[1,2,3, "Pinal", "Jaiswal"]
lst

[1, 2, 3, 'Pinal', 'Jaiswal']

In [39]:
#retrieving data - Indexing
lst[3]

'Pinal'

In [40]:
type(lst[3])

str

In [41]:
type(lst)

list

In [42]:
#Typecast
list((1,2,3, "Pinal", "Jaiswal"))

[1, 2, 3, 'Pinal', 'Jaiswal']

In [43]:
#Adding values in List using append function
# All the function Ref: https://docs.python.org/3/tutorial/datastructures.html
lst.append("Alpa")

In [44]:
lst

[1, 2, 3, 'Pinal', 'Jaiswal', 'Alpa']

In [45]:
lst[2]="data science"

In [46]:
lst

[1, 2, 'data science', 'Pinal', 'Jaiswal', 'Alpa']

In [47]:
print(lst[2])

data science

In [48]:
lst.append("Pinal")

In [49]:
lst
#List counts the values
lst.count("Pinal")

2

In [50]:
lst.count(3)

0

In [57]:
#Indexing
str1="pinal"
str1[3]
#String is immutable( means cannot change the charaters or items inside that) and it can completely replaced
#str1[3]='e'
str1="Jaiswal"
str1

'Jaiswal'